.button {
  border: 1px black solid;
  width: 22%;
  padding: 0.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.button.done {
  background-color: rgb(66, 255, 101);
}

.button.failed {
  background-color: #bb0808;
  color: #fff;
}
