.list-name {
  width: 50%;
  margin: 0 auto;
  padding: 0.2rem 0;
  border-radius: 20px;
  text-align: center;
  background-color: #412a9c;
  color: #fff;
}

.sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.empty-list {
  margin-top: 4%;
  font-size: 1.4rem;
  text-transform: uppercase;
}
