.title {
  display: block;
  text-align: center;
  background-color: rgb(65, 42, 156);
  border-radius: 15px;
  color: #fff;
}

.sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
