.list-name {
  width: 50%;
  margin: 0 auto;
  padding: 0.2rem 0;
  border-radius: 20px;
  text-align: center;
  background-color: #412a9c;
  color: #fff;
}

.sections {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.empty-list {
  margin: 5% 0;
  padding: 0.2rem 0.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.list {
  width: 80%;
  margin-top: 5%;
  font-size: 1.3rem;
  list-style: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.4rem;
  border-bottom: black 1px dashed;
}

.title {
  width: 45%;
  overflow: hidden;
  font-size: 1.5rem;
}
